body, html {
    overflow: hidden;
    font-size: 4vw;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0
}

body.loaded {
    /* transition: .3s */
}

body.loaded section {
    /*transition: opacity .5s*/
}

section {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0
}

section:target {
    z-index: 1
}

body:not(.muted) section:target {
    opacity: 1
}

img {
    max-height: 100%;
    max-width: 100%
}

.incremental:not(.revealed) {
    visibility: hidden
}

.hideCursor {
    cursor: none;
}

.laserPointerParent {
    position: absolute;
    z-index: 10;
    display: none;
    width: 100%;
    height: 100%;
}

.laserPointerParent.enabled {
    display: block;
}

.laserPointer {
    background: red;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    margin-top: -3px;
    border-radius: 3px;
    position: absolute;
}

.particle {
    background: red;
    width: 2px;
    height: 2px;
    border-radius: 1px;
    opacity: 0.8;
    position: absolute;
    transition: 0.01s linear;
}

.laserPointerOverlay {
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}


:root {
    --element-width: 20vw;
    --mid: calc(var(--element-width) / 2);
    --aw: 30vw;
    --bw: 35vw;
}

@keyframes wobble{
    0% {
        margin: 0 0 0 calc((var(--mid) * -1) + 1vw);
    }

    25% {
        margin: 0 0 0 calc(var(--mid) * -1);
    }

    50% {
        margin: 0 0 0 calc((var(--mid) * -1) - 1vw);
    }

    75% {
        margin: 0 0 0 calc(var(--mid) * -1);
    }

    100% {
        margin: 0 0 0 calc((var(--mid) * -1) + 1vw);
    }
}

.mindmap {
    position: absolute;
    top: 50vh;
    left: 50vw;
    line-height: 7vh;

}

.mindmap ul {
    list-style-type: none;
}

.mindmap ul li {
    position: absolute;
    padding: 0;
    display: block;
    width: var(--element-width);
    /**margin: 0 0 0 calc(var(--mid) * -1);**/
    animation: wobble 20s ease-out;
    animation-iteration-count: infinite;
    /**background: grey;**/
    text-align: center;
}

.mindmap ul li:nth-child(1) {
    top: -35vh;
    left: 0;
    animation-delay: -1s;
}

.mindmap ul li:nth-child(2) {
    top: -21vh;
    left: calc((var(--aw) * -1) );
    animation-delay: -2s;
}

.mindmap ul li:nth-child(3) {
    top: 0vh;
    left: calc((var(--bw) * -1));
    animation-delay: -4s;
}

.mindmap ul li:nth-child(4) {
    top: 21vh;
    left: calc((var(--aw) * -1));
    animation-delay: -3s;
}

.mindmap ul li:nth-child(5) {
    top: 35vh;
    left: 0;
    animation-delay: -0.5s;
}

.mindmap ul li:nth-child(6) {
    top: 21vh;
    left: var(--aw);
    animation-delay: -1.5s;
}

.mindmap ul li:nth-child(7) {
    top: 0;
    left: var(--bw);
    animation-delay: -2.5s;
}

.mindmap ul li:nth-child(8) {
    top: -21vh;
    left: var(--aw);
}


.grad1 {
    background: rgb(221,238,221);
    background: linear-gradient(9deg,rgba(87,242,87,1)  0%, rgba(221,238,221,1) 100%);
}

