html, body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.previewArea {
    width: 100%;
}

.previewEditor {
    font-size: 1.7vw;
    width: 100%;
}

.previewEditor .CodeMirror {
    width: 100%;
}

.previewEditor .previewButton {
    font-size: 17px;
}

.head {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
}

.left {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 50%;
    height: 90vh;
}

.right {
    position: absolute;
    top: 10vh;
    left: 50%;
    width: 50%;
    height: 90vh;
}

.middle {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100vw;
    height: 90vh;
}

.shownLaufvogelPreview iframe {
    height: 100%;
    width: 100%;
    border: none;
    background-color: white;
}

.full {
    position: relative;
    width: 100vw;
    height: 100vh;

}


.full img:first-child {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    object-position: 0 0;
    height: 100%;
    width: 100%;
}

.full div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100vw;
    height: 100vh;
}