html, body, * {
    margin: 0;
    padding: 0;
}

.previewArea {
    width: 100%;
}

.previewEditor {
    font-size: 1.7vw;
    width: 100%;
}

.previewEditor .CodeMirror {
    width: 100%;
}

.previewEditor .previewButton {
    font-size: 17px;
}

.head {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
}
.left {
    position: absolute;
    top: 10vw;
    left: 0;
    width: 50%;
    height: 90vh;
}

.right {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 50%;
    height: 90vh;
}

.middle {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100vw;
    height: 90vh;
}
